@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@600&family=Open+Sans&family=Poppins&display=swap");
header nav {
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}
header nav .logo-container {
  display: flex;
  align-items: center;
}
header nav .app_logo {
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 600;
  margin-right: 3px;
  transition: all 0.5s;
  animation: breathing 5s ease-out infinite normal;
  padding: 5px;
}
header nav .app_logo:hover {
  color: #4fff38;
}
header nav #nav_list {
  display: flex;
}
header nav #nav_list a {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}
header nav #nav_list a:hover {
  color: #4fff38;
  transform: translateY(5px);
}
header nav #nav_buttons {
  display: flex;
  align-items: center;
}
header nav #nav_buttons a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 550;
  margin-right: 25px;
  margin-left: 10px;
  transition: all 0.5s ease;
  border: 2px solid #4fff38;
  padding: 10px;
}
header nav #nav_buttons a:hover {
  color: #4fff38;
  transform: translateY(5px);
}
header nav #nav_buttons a i {
  color: #4fff38;
}
header nav #nav_buttons #menu-icon i {
  font-size: 35px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
header nav #nav_buttons .nav_button_container:hover {
  display: flex;
}

@media screen and (max-width: 1405px) {
  #login-logo {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  #nav_list {
    padding: 14px 2%;
    transition: 0.2s;
  }
  #nav_list a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media screen and (max-width: 1150px) {
  #login-logo {
    display: inline-block !important;
  }
  #menu-icon i {
    display: block !important;
  }
  #menu-icon i.clicked {
    color: #4fff38;
  }
  header nav #nav_list {
    position: absolute !important;
    top: -100vh;
    right: 2%;
    width: 270px;
    height: max-content;
    background-color: #4fff38;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  header nav #nav_list a {
    display: block;
    margin: 18px 0 !important;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }
  header nav #nav_list a:hover {
    color: #fff !important;
  }
  header nav #nav_list.open {
    top: 100%;
  }
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.blur-in {
  animation: blur-in 0.4s linear both;
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.typing {
  animation: typing 3.5s steps(100, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #222327;
  font-family: "Poppings", sans-serif;
}
body * {
  color: #fff;
}

main {
  margin: 0 auto;
  width: 95%;
  height: min-content;
}
main * {
  color: #fff;
  background-color: transparent;
}

#main_page_container {
  width: 100%;
  padding: 50px;
  text-align: center;
}
#main_page_container .welcome_title {
  width: 100%;
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
}
#main_page_container p {
  margin-top: 10px;
  color: #4fff38;
  font-size: 1.3rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
}
#main_page_container .image_galery {
  display: flex;
  width: 100%;
  height: 600px;
  padding: 50px;
  transform: skew(-7deg);
}
#main_page_container .image_galery img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
#main_page_container .image_galery img:hover {
  cursor: crosshair;
  width: 50%;
  opacity: 1;
  filter: contrast(120%);
}

/*# sourceMappingURL=root.css.map */
