*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    min-height: 100vh;
    background-color: $bg-color;
    font-family: $fuente;
    
    & * {
      color: $text-color;
    }
    
  }
  
  main{
    margin: 0 auto;
    & * {
      color: black;
      background-color: transparent;
    }
    width: 95%;
    height: 500px;
  
    border: 2px solid wheat;
  }