@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@600&family=Open+Sans&display=swap');

$bg-color: #222327;
$text-color: #fff;
$main-color: #8c38ff;
$fuente: 'Open Sans', sans-serif;