.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-logo {
    font-weight: bold;
    font-size: 24px;
  }

  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-menu li {
    margin-right: 20px;
  }

  .navbar-menu li:last-child {
    margin-right: 0;
  }

  .navbar-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }

  .navbar-burger {
    display: none;
  }

  .burger-line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
  }

  .navbar-buttons {
    display: flex;
  }

  .nav-button-container {
    margin-left: 10px;
  }

  .nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
    }

    .navbar-burger {
      display: block;
      cursor: pointer;
    }

    .burger-line {
      margin: 0;
    }

    .navbar-burger.active .burger-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .navbar-burger.active .burger-line:nth-child(2) {
      opacity: 0;
    }
}